{% extends "layout.html" %}

{% block content %}

<div class="panel">
    <h1>Speaker diarization tool</h1>
    <div class="content-wrapper">
        <div class="left-side">
            <div class="wavewrapper">
                <div id="waveform">
                    <progress id="progress" class="progress progress-striped" value="100" max="100"></progress>
                </div>
                <div class="seek-control">
                    <div class="seek-bar"></div>
                    <div class="seek-progress"></div>
                    <div class="thumb-slider"></div>
                    <div class="time-wrapper">
                        <span class="current-time">00:00</span> / <span class="total-length">00:00</span>
                    </div>
                </div>
            </div>
            <div class="control-wrapper">
                <div class="control-buttons">
                    <div class="attach-button">
                        <label for="inpf" class="button attach">
                            <svg
                            class="progress-ring"
                            width="50"
                            height="50"
                            >
                                <circle
                                class="progress-ring__circle attach"
                                stroke="#216db8"
                                stroke-width="2"
                                fill="transparent"
                                r="23"
                                cx="25"
                                cy="25"/>
                            </svg>
                        </label>
                        <input type="file" class="form-control-file" id="inpf" />
                    </div>
                    
                    <button class="button" id="play"></button>
                    <div class="slider-wrapper">
                        <span class="zoom zoom-out"></span>
                        <div class="slider-container">
                            <input data-action="zoom" id="slider" type="range" min="1" max="20" value="10">
                        </div>
                        <span class="zoom zoom-in"></span>
                    </div>
                    
                </div>
                <div id="video-wrapper">
                    <video controls style="max-width:100%;" class="hide" type="video/mp4"></video>
                </div>
            </div>
            <div id="wave-timeline"></div>
        </div>
        <div class="right-side">
            <div id="divSpWrap" class="speech-wrapper speech">
                <h3 class="subtitle speech">Speech duration</h3>
                <h3 class="subtitle vb">Vitality Risk Score</h3>
                <h3 class="subtitle accuracy">Validation</h3>
                
            
                <!-- <button class="cta-button show-biomarkers" id="biomarkers-btn">Get biomarkers <span class="icon plus-icon"></span></button> -->
            </div>
            <div class="tabs-switcher">
                <div class="tab-button-wrapper active" id="speech">
                    <button class="button tab-button "></button>
                    <span class="tab-name">speech</span>
                </div>
                <div class="tab-button-wrapper" id="vb" onclick="vbm();">
                    <button class="button tab-button"></button>
                    <span class="tab-name">Biomarker</span>
                </div>
                <div class="tab-button-wrapper" id="accuracy" onclick="sendStat();">
                    <button class="button tab-button"></button>
                    <span class="tab-name">Validation</span>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}

{% block scripts %}
<script src="../static/scripts/wavesurfer0.js"></script>
<script src="../static/scripts/wavesurfer.timeline.js"></script>
<script src="../static/scripts/wavesurfer.regions.js"></script>
<script src="../static/scripts/wavesurfer.cursor.js"></script>
<script src="../static/scripts/timespan.js"></script>


<script>
   

    var gsigments = null;
    var vitality = null;
    var audioFile = 'demo2.mp3';
    var isvideo = false;
    var motipath = null;
    var options = {
        // Use the id or class-name of the element you created, as a selector
        //container: '#waveform',
        container: document.querySelector('#waveform'),
        backend: 'MediaElement',
        // The color can be either a simple CSS color or a Canvas gradient
        waveColor: '#cbd7e1',
        progressColor: '#eb547c',
        cursorColor: '#216db8',
        margin: 48,
        height: 200,
        hideScrollbar: true,
        cursorWidth: 2,
        fillParent: false,
        scrollParent: true,
        //minPxPerSec: 100,
        // scrollParent: true,
        // This parameter makes the waveform look like SoundCloud's player
        barWidth: 1,
        plugins: [
            WaveSurfer.cursor.create({
               showTime: true,
               hideOnBlur: false,
               opacity: 1,
               customShowTimeStyle: {
                   'background-color': '#216db8',
                   color: '#fff',
                   padding: '6px 10px',
                   'line-height': '100%',
                   'font-size': '14px',
                    
               }
            }),
            WaveSurfer.timeline.create({
                container: '#wave-timeline',
                height: 30,
                labelPadding: -2,
                drawDottedLines: true,
                primaryColor: '#000',
                secondaryColor:'#515b7b',
                primaryFontColor: '#c0c5d6',
                secondaryFontColor: '#515b7b',
                unlabeledNotchColor: '#c0c5d6',
                notchPercentHeight:50
            })
        ]
    };

    var wavesurfer = WaveSurfer.create(options);

    wavesurfer.on('loading', function (percents) {
        document.getElementById('progress').value = percents;
    });

    wavesurfer.on('ready', function (percents) {
        document.getElementById('progress').style.display = 'none';

        var dur = wavesurfer.getDuration();
        var width = document.getElementById('waveform').offsetWidth;
        var rangeVal = document.querySelector('#slider').value;
        
        wavesurfer.zoom(Number(width / dur * rangeVal));
        sendfileTodes('\des');
    });

    document.querySelector('#slider').oninput = function () {
        var dur = wavesurfer.getDuration(),
            width = document.getElementById('waveform').offsetWidth;
        wavesurfer.zoom(Number(width / dur * this.value));
    };

    wavesurfer.on('ready', updateSeekProgress);

    wavesurfer.on('audioprocess', updateSeekProgress);

    wavesurfer.on('seek', updateSeekProgress);

    function updateSeekProgress(progress) {
        var totalDuration = wavesurfer.getDuration(),
            percents = wavesurfer.getCurrentTime(),
            elapsedTime = parseFloat((percents / totalDuration * 100).toFixed(2)),
            currentTime = percents,
            currentTimeWrapper = document.querySelector('.time-wrapper .current-time'),
            totalLengthWrapper = document.querySelector('.time-wrapper .total-length'),
            seekProgress = document.querySelector('.seek-control .seek-progress'),
            seekThumb = document.querySelector('.seek-control .thumb-slider');
        seekProgress.style.width = elapsedTime + '%';
        seekThumb.style.left = elapsedTime + '%';
        currentTimeWrapper.innerHTML = ('00' + Math.floor(currentTime % 3600 / 60)).slice(-2) + ':' + ('00' + Math.floor(currentTime % 60)).slice(-2);
        totalLengthWrapper.innerHTML = ('00' + Math.floor(totalDuration % 3600 / 60)).slice(-2) + ':' + ('00' + Math.floor(totalDuration % 60)).slice(-2);
    }

    function calculateVbScore(value) {
        var radius = 17; // radius of the svg cirlce
        var strokeOffsetVal = radius * Math.PI * 2; // formula to calculate stroke length
        return strokeOffsetVal - (strokeOffsetVal * value) / 100;
    }

    document.querySelector('.seek-control').addEventListener('click', function(evt) {
        var clickedSeekValue = evt.layerX,
            containerWidth = this.offsetWidth,
            seekPercentage = clickedSeekValue / containerWidth;
        
        wavesurfer.seekAndCenter(seekPercentage);

    });
    var tabButtons = document.querySelectorAll('.right-side .tab-button');
    

    tabButtons.forEach(function(button) {
        button.addEventListener('click', function(evt) {
            var parentWrapper = evt.target.parentNode;
            var parentId = parentWrapper.id;
            var tabWrapper = document.getElementById('divSpWrap');
            var tabs = document.querySelectorAll('.tabs-switcher .tab-button-wrapper');
            tabWrapper.className = 'speech-wrapper';
            tabWrapper.classList.add(parentId);
            tabs.forEach(function(tab) {
                tab.className = 'tab-button-wrapper';
            })
            parentWrapper.classList.add('active');
        });
    })

    document.getElementById("play").addEventListener("click", function () {
        this.classList.toggle('pause');
        wavesurfer.playPause();
    }, false);

    document.getElementById("inpf").addEventListener("change", function (evt) {
        var file = evt.target.files[0];
        this.parentNode.classList.add('initialization');
        if (file.name)
            audioFile = file.name;
        
        if (wavesurfer.regions) 
            wavesurfer.regions.destroy();

        var mediaElt = document.querySelector('video');
        if (audioFile.endsWith(".mp4")) {
            
            mediaElt.src = '/static/waves/' + audioFile;
            mediaElt.className = "show";
            wavesurfer.load(mediaElt);
            removeLoader(this);
        }
        else {
            wavesurfer.load(URL.createObjectURL(file));
            mediaElt.src = '';
            mediaElt.className = 'hide';
            removeLoader(this);
        }
        document.getElementById('play').className = 'button';
        vitality = null;
        gsigments = null;

        
            
    }, false);
    
    function removeLoader(container) {
        setTimeout(function() {
            container.parentNode.classList.remove('initialization');
            // document.getElementById('btnd').classList.remove('clicked');
        }, 1500);
    }

    wavesurfer.load('/static/waves/' + audioFile);

    function createOption(lb) {
        var op = document.createElement("option");
        var t = document.createTextNode(lb);
        op.appendChild(t);
        document.getElementById('sel').appendChild(op);
    }
    
    
    var lcol = {
        colors: [
            'rgba(242, 166, 166,',
            'rgba(253, 178, 117,',
            'rgba(168, 207, 168,',//zel
            'rgba(92, 210, 173,',//salat
            'rgba(18, 218, 250,',//gol
            'rgba(148, 18, 250,',//fiolet
            'rgba(250, 18, 155,',//roz
            'rgba(78, 18, 250,',//siren
            'rgba(172, 219, 251,'//sinii
        ],
        clInd: 0,
        listLb: {},
        stat: {},
        getStat(lb, s, e,col) {
            if (this.stat[lb]) {
                var seg = this.stat[lb];
                seg['sec']+= (e - s) ;
            }
            else {
                this.stat[lb] = { 'c': col, 'sec': e - s };
            }
        },
        showStat() {
            var wraper = document.getElementById("divSpWrap");
           
            for (p in this.stat) {
                //var vbVal = Math.round(Math.random() * 100);
                var div = this.createStat(p, this.stat[p]['sec'], this.stat[p]['c']);//, vbVal);
                wraper.appendChild(div);
            }
           
        },
        reset() {
            this.stat = {};
            this.clInd = 0;
            this.listLb = {};
        },
        grads(c) {
            return { 'c': c + ' 1)', 'b': 'linear-gradient(to bottom, ' + c + ' 0.4) 0%, rgba(207,207,207,1%) 100%)' };
        },
        getColor(lb) {
            if (this.listLb[lb]) {
                let c = this.listLb[lb]
                return this.grads(c);
            }
            else {
                let c = this.colors[this.clInd]
                this.listLb[lb] = c;
                this.clInd++;
                return this.grads(c);
            }
        },
        createReg(st, end, label, conf) {
            var bcolor = this.getColor(label);
            this.getStat(label, st, end, bcolor['c']);
            return {
                start: st,
                end: end,
                margin: options.margin,
                color: bcolor['c'],
                background: bcolor['b'],
                text: label
            };
         },
        createStat(lb,sec,backgroundColor) {
            var div = document.createElement("div");
            var ts = TimeSpan.FromSeconds(sec);
            div.className = 'speaker-item';

            div.innerHTML = '<div class="speaker-icon" style="background:'+ backgroundColor+'">'+lb.trim()+'</div> \
                <div class="speaker-time"> \
                    <span class="minutes">'+ format(ts.totalMinutes(true))+'</span> : \
                    <span class="seconds">'+ format(ts.totalSeconds())+'</span> \
                </div> \
                <div class="speaker-vb"> \
                    <svg class="vb-circle" width="36" height="36"> \
                        <circle cx="18" cy="18" r="17" class="vb-circle__ring" fill="none" stroke-width="1" stroke="#acb3ca"></circle> \
                        <circle cx="18" cy="18" r="17" class="vb-circle__score" fill="none" stroke-width="2" stroke="#ff6382" ></circle> \
                    </svg> \
                    <span class="score"></span> \
                </div> \
                <div class="speaker-accuracy"></div>';//style=stroke-dashoffset:0
            return div;
        },
        loopOnSegments(segments) {
            gsigments = segments
            if (wavesurfer.regions)
                wavesurfer.regions.destroy();
            var regions = [];
            var self = this;
            //document.getElementById("divSpWrap").children = '';
            $("div#divSpWrap div.speaker-item").remove();
            segments.forEach(function (d) {
              
                var r = self.createReg(d[0], d[1], d[2], d[3]);
                regions.push(r);
            });

            this.showStat();

            wavesurfer.addPlugin(WaveSurfer.regions.create({
                regions: regions
            })).initPlugin('regions');
            this.reset();
        }
    };
    function vbm() {
        var gv = function (vbmrks) {
            $('div#divSpWrap div.speaker-item').each(function () {
                let lb = $('div.speaker-icon', this).text();
                if (lb.length > 2) {
                    var vbm = vbmrks[lb];
                    $('.speaker-vb', this).show();
                    $('div.speaker-time,div.speaker-accuracy', this).hide('slow');
                    $('div.speaker-vb circle.vb-circle__score', this).css('strokeDashoffset', calculateVbScore(vbm));
                    $('div.speaker-vb span.score', this).text(vbm);
                }
                else {
                    $('.speaker-vb', this).hide();
                }
            });
        };
        
        if (gsigments == null) {
            alert('Pleasee do diarisation');
            return;
        }

        if (vitality == null) {
            getVitality(gsigments).then(pp => {
                gv(pp);
            });
        }
        else {
            gv(vitality);
        }

        
    }
    function getvitality(sender,s) {
        var v = vitality[s];
        $(sender).parent().append($('<div>').addClass('speaker-marker show-markers').text(v));
    }
    function getVitality(json) {
        //
        return fetch('{{ vurl }}', {
            method: 'post',
            headers: {
                'Accept': 'application/json', 'Content-Type': 'application/json'
            },
            body: JSON.stringify({ 'json': json, 'path': motipath })
        }).then(response => {
            if (response.status === 200) {
                return response.json();
            } else {
                console.log('catch vitality not 200');
                response.text().then(err => {
                    if (err)
                        alert(err);
                    else
                        alert('status ' + response.status + ' ' + response.statusText);
                });
                //throw new Error('Something went wrong on api server!' + response.status);
            }
        }).catch(error => {
            console.log('catch vitality');
            alert("Not connected \n" + error);
         }).then(data => {

             if (data) {
                 var p = {};
                data.forEach(function (d) {
                    p[d[0]] = d[2] == true ? d[1] : 'not much signal';
                 });
                 vitality = p;
                 return p;
            }

        });

    }
    function sendStat() {

        fetch('\stat', {
            method: 'post',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ "filePath": audioFile })
        }).then(response => {
            if (response.status === 200) {
                return response.json();
            } else {
                console.log('DES NO 200' + response.status);
                response.text().then(err => {
                    alert(err);
                    console.log('DES NO 200 ERR' + err);
                });
            }
        })
        .then(data => {
            if (data) {
                alert(JSON.stringify(data));  
                //speaker-accuracy
                data.forEach(r => {
                    let lb = r[0];
                    let t = `TP:${r[1]} FN:${r[2]}`;
                    $("div.speaker-icon:contains('"+lb+"')").parent().find('div.speaker-accuracy').text(t);
                });
               
            }


        }).catch(error => {
            console.error(error);
        });
    }
    
    function sendfileTodes(url) {

        fetch(url, {
            method: 'post',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ "filePath": audioFile })
        }).then(response => {
                if (response.status === 200) {
                    return response.json();
                } else {
                    console.log('DES NO 200' + response.status);
                    response.text().then(err => {
                        alert(err);
                        console.log('DES NO 200 ERR' + err);
                    });
                }
            })
            .then(data => {
                if (data) {
                    motipath = data['fn']
                    lcol.loopOnSegments(data['list']);
                }
                
               
            }).catch(error => {
                console.error(error);
            });
    }
    
    function format(sec) {
        var s = sec.toString();
        if (s.length == 1)
            return "0" + s;
        return s;
    }
</script>

{% endblock %}
