body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.subtitle {
    margin: 0 0 10px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #acb3ca;
}

#progress {
    display: none;
}

.content-wrapper {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
}

.left-side {
    width: 71.5%;
    max-width: 815px;
    padding: 45px 40px 32px;
    border-radius: 20px;
    background-color: #f5f8fb;
    overflow: hidden;
}

.right-side {
    width: 28.5%;
    max-width: 325px;
    padding: 45px 40px 32px;
}

.right-side .speech-wrapper {
    margin: 0 0 24px;
}

.right-side .speech-wrapper .subtitle {
    display: none;
}

.right-side .speech-wrapper .speaker-item {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin: 10px 0;
}

.right-side .speech-wrapper .speaker-item .speaker-icon {
    height: 100%;
    max-width: 50px;
    white-space: nowrap;
    padding: 2px 10px;
    /*margin: 0 10px 0 0;*/
    display: inline-block;
    vertical-align: middle;
    background-color: #ff6382;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: #FFF;
}

.right-side .speech-wrapper .speaker-item .speaker-time, .right-side .speech-wrapper .speaker-item .speaker-accuracy {
    max-width: calc(100% - 50px);
    height: 100%;
    display: none;
    padding: 2px 8px;
    /*margin: 0 10px 0 0;*/
    color: #acb3ca;
    background-color: #f6f8fb;
}

.right-side .speech-wrapper .speaker-item .speaker-vb {
    display: none;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    position: relative;
    margin: 0 0 0 10px;
}

.right-side .speech-wrapper .speaker-item .speaker-vb .vb-circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.right-side .speech-wrapper .speaker-item .speaker-vb .vb-circle .vb-circle__score {
    transform: rotate(-90deg);
    transform-origin: center;
    stroke-dasharray: 106.81415022205297;
    stroke-dashoffset: 106.81415022205297;
}

.right-side .speech-wrapper .speaker-item .speaker-vb .score {
    font-size: 11px;
    font-weight: bold;
    color: #ff6382;
    line-height: 80%;
}


.right-side .speech-wrapper.speech .speaker-item .speaker-time {
    display: inline-block;
}

.right-side .speech-wrapper.speech .subtitle.speech {
    display: block;
}

.right-side .speech-wrapper.vb .subtitle.vb {
    display: block;
}

.right-side .speech-wrapper.accuracy .subtitle.accuracy {
    display: block;
}


.right-side .speech-wrapper.vb .speaker-item .speaker-vb {
    display: flex;
}

.right-side .speech-wrapper.accuracy .speaker-item .speaker-accuracy {
    display: inline-block;
}


.right-side .speech-wrapper .speaker-item .icon-wrapper span.icon:after, .right-side .speech-wrapper .speaker-item .icon-wrapper span.icon:before {
    background-color: #c1c5d5;
}

.right-side .speech-wrapper .speaker-item:hover span.icon:after, .right-side .speech-wrapper .speaker-item:hover span.icon:before {
    background-color: #ff6382;
}

.right-side .speech-wrapper .speaker-item.open .speaker-marker {
    display: inline;
}

.right-side .speech-wrapper .speaker-item.open .icon-wrapper {
    display: none;
}

.right-side .speech-wrapper .speaker-item .icon-wrapper span.icon {
    top: 6px;
    right: 6px;
}

.right-side .speech-wrapper .speaker-item .speaker-marker.danger {
    color: #ff6382;
}

span.miliseconds {
    font-weight: bold;
}

.right-side .speech-wrapper .speaker-item .speaker-name, .right-side .file-info {
    color: #216db8;
}

.right-side .file-info {
    margin: 0 0 32px;
}

.wavewrapper {
    /*padding: 0 0 8px;*/
    position: relative;
    margin: 0 0 26px;
}

.control-wrapper {
    padding: 80px 0 0;
}

#waveform {
    position: relative;
}

#wave-timeline {
    display: none;
}

.timeline {
    position: absolute;
    bottom: -26px;
    margin: 0 0 0 -41.25px;
}

/*.timeline:after {
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    width: 2px;
    height: 10px;
    background: #216db8;
    margin: 0 0 0 -2px;
}*/

.timeline span {
    padding: 0 2px;
}

.timeline span:first-child {
    padding: 0 2px 0 0;
}

.timeline span:last-child {
    padding: 0 0 0 2px;
}

.timeline span.miliseconds {
    font-weight: bold;
}


.region-label {
    max-width: none;
    position: absolute;
    padding: 4px 0;
    margin: 0;
    text-transform: uppercase;
    font-size: 13px;
    color: #FFF;
}

.seek-control {
    width: 100%;
    height: 3px;
    padding: 6px 0 7px;
    margin: 40px 0 0;
    position: absolute;
    cursor: pointer;
}

.seek-control .seek-bar {
    position: absolute;
    top: 5px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #c1c5d5;
}

.seek-control .seek-progress {
    position: absolute;
    top: 5px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: #216db8;
}

.seek-control .time-wrapper {
    padding: 10px 0 0;
    text-align: right;
    pointer-events: none;
    font-size: 13px;
    color: #216db8;
}

.seek-control .time-wrapper span.total-length {
    font-weight: bold;
}

.seek-control .thumb-slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 13px;
    height: 13px;
    background-color: #216db8;
    border-radius: 50%;
    margin: 0 0 0 -5px;
    pointer-events: none;
}


#video-wrapper {
    width: 100%;
    margin: 36px 0 0;
}

input[type="file"] {
    display: none;
}

.button {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 1px solid #e9eef6;
    border-radius: 50%;
    position: relative;
    padding: 0;
    cursor: pointer;
    background-color: #FFF;
    outline: none;
    background-repeat: no-repeat;
    background-position: center;
}

.button.tab-button {
    background-color: #216db8;
    border: none;
    background-position: center;
    background-repeat: no-repeat;
}

.tabs-switcher {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    margin: 0 0 48px;
}

.tabs-switcher .tab-button-wrapper {
    display: flex;
    flex-flow: column wrap;
    margin: 0 16px 0 0;
    align-items: center;
}

.tabs-switcher .tab-button-wrapper .tab-name {
    margin: 2px 0 0;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    color: #216db8;
}

.tabs-switcher .tab-button-wrapper#speech .tab-button {
    background-image: url('../icons/speaker.svg');
    background-size: 28px;
}

.tabs-switcher .tab-button-wrapper#vb .tab-button {
    background-image: url('../icons/vb.svg');
    background-size: 21px;
}

.tabs-switcher .tab-button-wrapper#accuracy .tab-button {
    background-image: url('../icons/accuracy.svg');
    background-size: 18px;
}

.tabs-switcher .tab-button-wrapper.active .tab-button {
    background-color: #ff6382;
}

.tabs-switcher .tab-button-wrapper.active .tab-name {
    color: #ff6382;
}

.cta-button {
    display: inline-block;
    border-radius: 45px;
    border: none;
    outline: none;
    padding: 14px 28px 12px;
    font-size: 12px;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase;
}

.cta-button#btnd {
    background-color: #ff6382;
    margin: 0 12px 0 auto;
}

.cta-button#biomarkers-btn {
    margin: 14px 0 0;
    padding: 13px 40px 12px 28px;
    position: relative;
    background-color: transparent;
    border: 1px solid #e9eef6;
    color: #ff6382;
}

.cta-button#biomarkers-btn span.icon {
    top: 17px;
    right: 24px;
}

.cta-button#attr {
    background-color: #216db8;
}

.cta-button.clicked#btnd, .cta-button.clicked#attr {
    pointer-events: none;
    background-color: #c1c5d5;
}

.slider-wrapper {
    position: relative;
    padding: 22px 56px;
    /*margin: 0 20px 0 10px;*/
    border-radius: 32px;
    background-color: #FFF;
}

.slider-wrapper .slider-container {
    position: relative;
    width: 168px;
    height: 6px;
    padding: 2px 0;
    background-image: url(../icons/mark.svg);
    background-repeat: round;
    background-position: 9px center;
}

span.icon {
    position: absolute;
    top: 20px;
    width: 10px;
    height: 10px;
    pointer-events: none;
}

.slider-wrapper span.icon.minus-icon {
    left: 0;
}

span.zoom {
    position: absolute;
    top: 16px;
    width: 18px;
    height: 18px;
    pointer-events: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

span.zoom.zoom-out {
    left: 28px;
    background-image: url('../icons/zoom-out.svg');
}

span.zoom.zoom-in {
    right: 28px;
    background-image: url('../icons/zoom-in.svg');
}

span.icon:after {
    content: '';
    position: absolute;
    top: 4px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ff6382;
}

span.icon.plus-icon {
    right: 0;
}

span.icon.plus-icon:before {
    content: '';
    position: absolute;
    top: 0;
    left: 4px;
    width: 2px;
    height: 100%;
    background-color: #ff6382;
}

.slider-wrapper span.icon:after, .slider-wrapper span.icon:before {
    background-color: #216db8;
}


.slider-wrapper .slider-container #slider {
    position: absolute;
    top: 2px;
    left: 0;
    width: 100%;
    /*margin: 0 20px 0 48px;*/
    appearance: none;
    -webkit-appearance: none;
    -moz-apperance: none;
    height: 2px;
    line-height: 2px;
    outline: none;
    border-radius: 4px;
    background-color: #c1c5d5;
}

#slider::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none;
    -moz-apperance: none;
    width: 18px;
    height: 18px;
    border: 1px solid #c1c5d5;
    border-radius: 50%;
    background-color: #FFF;
    cursor: pointer;
}

.control-buttons {
    max-width: 75%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.attach-button .button, .button#btn-rec {
    margin: 0 10px 0 0;
}

.button#btn-rec:after, .button#btn-rec:before {
    display: none;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.button#btn-rec:before {
    background-image: url('../icons/record.svg');
    background-size: 18px;
}

.button#btn-rec:after {
    background-image: url('../icons/stop.svg');
    background-size: 12px;
}

.button.attach {
    background-image: url('../icons/attach.svg');
    background-size: 10px;
}

.button#btn-rec.record:before {
    display: block;
}

.button#btn-rec.stop:after {
    /*TO DO:Please add background stop*/
    display: block;
}

.attach-button.initialization, .button.initialization {
    opacity: 0.8;
    pointer-events: none;
}

.button svg.progress-ring {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    margin: -1px 0 0 -1px;
    animation: rotator 1.4s linear infinite;
}

.button svg.progress-ring .progress-ring__circle {
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    transition: 0.35s stroke-dashoffset;
    stroke-dasharray: 144.5;
    stroke-dashoffset: 0;
    animation:
        dash 1.4s ease-in-out infinite;
}

@keyframes rotator {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(270deg); }
}

@keyframes dash {
    0% { stroke-dashoffset: 144.5; }
    50% {
        stroke-dashoffset: 36.125;
        transform:rotate(135deg);
    }
    100% {
        stroke-dashoffset: 144.5;
        transform:rotate(450deg);
    }
}

.attach-button.initialization svg.progress-ring, .button.initialization svg.progress-ring {
    display: block;
}

.button#play {
    position: relative;
    width: 65px;
    height: 65px;
    margin: 0 auto;
}

.button#play:after, .button#play:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10px;
    pointer-events: none;
}

.button#play:after {
    background-image: url('../icons/play.svg');
}
.button#play:before {
    display: none;
    background-image: url('../icons/pause.svg');
}

.button#play.pause:after {
    display: none;
}

.button#play.pause:before {
    display: block;
}
.hide {
    display:none;
}
.show {
    display:block;
}

.show-more {
    display: inline-block;
    text-transform: uppercase;
    color: #ff6382;
    cursor: pointer;
    font-weight: bold;
}

.show-more .more-icon {
    position: relative;
    margin: -3px 0 0 5px;
    display: inline-block;
    vertical-align: middle;
    width: 22px;
    height: 22px;
    border: 1px solid #e9eef6;
    border-radius: 50%;
    transition: transform .3s;
}

.show-more.open .more-icon {
    transform: rotate(180deg);
}

.show-more .more-icon:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 7px;
    height: 7px;
    border-width: 1px;
    border-style: solid;
    border-color: #ff6382 #ff6382 transparent transparent;
    transform: translate(-50%, -50%) rotate(135deg);
    transform-origin: 50% 50%;
    margin: -2px 0 0;
}